<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Sign in</title>
</head>
<body>
    <h1>SIGN IN</h1>
    <form action="http://localhost:5000/post" method="post">
        <p>
            x : <input name="x" type="text" placeholder="ketik angka. pisahkan dengan koma"/>
        </p>
        <p>
            y : <input name="y" type="text" placeholder="ketik angka. pisahkan dengan koma"/>
        </p>
        <p>
            <input type="submit" value="run grafik"/>
        </p>
    </form>
</body>
</html>